<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
        {{#with @root.page.componentVersion}}
        <a class="navbar-item" href="{{{relativize ./url}}}">
        {{/with}}
        <img id="bblogo" class="block" src="{{{uiRootPath}}}/img/openDAQ-logo-orange-blue-rgb.png" alt="openDAQ">
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="switch-theme">
      <input type="checkbox" id="switch-theme-checkbox" />
      <label for="switch-theme-checkbox">Dark Theme</label>
    </div>
  </nav>
</header>
