<aside class="sidebar">
  <div class="content">
    <div
      class="toc"
      data-title="{{{detag page.title}}}"
      data-levels="{{{or page.attributes.toclevels 2}}}"
    >
      <div class="toc-menu"></div>
    </div>
  </div>
</aside>